table.min-device.footer
    tr
        td
            +mso
                table(align="left")
                    tr
                        td
                            p(style="margin-bottom: 14px;line-height: 20px;")
                                | Best regards,
                                br
                                | Gulp Team
                                