table.min-device.header
    tr
        td
            +mso
                table(align="left")
                    tr
                        td
                            a(href="http://gulpjs.com/"): img(src="images/gulp.png" width="120")