{{> outlookWrapperBegin width="740"}}
<table class="header min-device">
    <tr>
        <td>
            <a href="http://www.debian.org">
                <img style="width: 120px;" src="images/debian.png"/>
            </a>
        </td>
    </tr>
</table>
{{> outlookWrapperEnd}}
